.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background:
    radial-gradient(circle at center, rgba(69, 66, 254, 0.186), transparent 60%),
    linear-gradient(135deg, #0b0b0b, #000);
}


.title img {
  width: min(80vw, 700px);
  height: auto;
}

.magic-link {
  text-decoration: none;
}

/* Core button */
.magic-btn {
  position: relative;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-family: "Cinzel", serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #b3b5f5;
  background: linear-gradient(145deg, #1a1a1a, #000);
  border: 1px solid rgba(122, 120, 255, 0.35);
  border-radius: 999px;

  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}

/* Glow aura */
.magic-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: radial-gradient(
    circle,
    rgba(120, 138, 255, 0.4),
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Hover effects */
.magic-btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 20px rgba(138, 120, 255, 0.25),
    0 0 60px rgba(120, 122, 255, 0.15);
}

.magic-btn:hover::before {
  opacity: 1;
}

/* Click effect */
.magic-btn:active {
  transform: scale(0.97);
}

/* Focus (keyboard users) */
.magic-btn:focus-visible {
  outline: 2px solid rgba(127, 120, 255, 0.6);
  outline-offset: 4px;
}

.snow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-repeat: repeat;
   overflow: hidden;
  animation: snowFall linear infinite;
}

/* Far snow (small, slow) */
.snow-back {
  background-image:
    radial-gradient(1px 1px at 20px 30px, rgba(180,180,255,0.4), transparent),
    radial-gradient(1px 1px at 150px 80px, rgba(200,200,255,0.3), transparent),
    radial-gradient(1px 1px at 300px 200px, rgba(160,160,255,0.35), transparent);
  background-size: 400px 400px;
  animation-duration: 40s;
   overflow: hidden;
}

/* Mid snow */
.snow-mid {
  background-image:
    radial-gradient(2px 2px at 50px 100px, rgba(200,200,255,0.6), transparent),
    radial-gradient(2px 2px at 200px 250px, rgba(180,180,255,0.5), transparent),
    radial-gradient(2px 2px at 350px 150px, rgba(220,220,255,0.6), transparent);
  background-size: 300px 300px;
   overflow:none;
  animation-duration: 25s;
}

/* Front snow (glow + faster) */
.snow-front {
  background-image:
    radial-gradient(3px 3px at 80px 60px, rgba(220,220,255,0.8), transparent),
    radial-gradient(3px 3px at 250px 120px, rgba(200,200,255,0.7), transparent),
    radial-gradient(3px 3px at 100px 300px, rgba(240,240,255,0.9), transparent);
  background-size: 250px 250px;
  animation-duration: 15s;
   overflow: hidden;
}

@keyframes snowFall {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(20vh);
  }
}
