.landing_body {
    min-height: 100vh;
    width: 100%;
    background: url("../assets/wallpaper.png") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


@font-face {
  font-family: "HarryP";
  src: url("../assets/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title{
    margin-top: 13%;
    font-size: 12rem;
    font-family: "HarryP";
    color: #c7c9ff; 
     font-size: clamp(3rem, 10vw, 10rem);
}
.snow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  animation: snowFall linear infinite;
}
.snow-back {
  background-image:
    radial-gradient(1px 1px at 20px 30px, rgba(180,180,255,0.3), transparent),
    radial-gradient(1px 1px at 80px 120px, rgba(200,200,255,0.25), transparent),
    radial-gradient(1px 1px at 150px 60px, rgba(160,160,255,0.3), transparent),
    radial-gradient(1px 1px at 220px 200px, rgba(190,190,255,0.25), transparent),
    radial-gradient(1px 1px at 320px 140px, rgba(170,170,255,0.3), transparent),
    radial-gradient(1px 1px at 380px 40px, rgba(210,210,255,0.25), transparent);
  background-size: 300px 300px;
  animation-duration: 45s;
}

.snow-mid {
  background-image:
    radial-gradient(2px 2px at 50px 100px, rgba(200,200,255,0.55), transparent),
    radial-gradient(2px 2px at 120px 200px, rgba(180,180,255,0.5), transparent),
    radial-gradient(2px 2px at 200px 50px, rgba(220,220,255,0.6), transparent),
    radial-gradient(2px 2px at 280px 180px, rgba(210,210,255,0.55), transparent),
    radial-gradient(2px 2px at 340px 90px, rgba(190,190,255,0.5), transparent);
  background-size: 240px 240px;
  animation-duration: 28s;
}


body .sphere{
  position: absolute;
  height: 40px;
  width: 65px;
  background-size: cover;
  background-image: url('../assets/Snitch.gif');
  transform: scale(2);
  transition: all 0.3s cubic-bezier(0, -0.02, 0.58, 1.33);
}


.snow-front {
  background-image:
    radial-gradient(3px 3px at 40px 60px, rgba(240,240,255,0.9), transparent),
    radial-gradient(3px 3px at 120px 140px, rgba(220,220,255,0.85), transparent),
    radial-gradient(3px 3px at 200px 80px, rgba(255,255,255,0.95), transparent),
    radial-gradient(3px 3px at 280px 200px, rgba(230,230,255,0.9), transparent),
    radial-gradient(3px 3px at 360px 40px, rgba(255,255,255,1), transparent);
  background-size: 200px 200px;
  animation-duration: 16s;
   filter: drop-shadow(0 0 6px rgba(200,200,255,0.6));
}


@keyframes snowFall {
  0% {
    transform: translateY(-120px) translateX(0);
  }
  50% {
    transform: translateY(50vh) translateX(-20px);
  }
  100% {
    transform: translateY(100vh) translateX(20px);
  }
}
