.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 1.6rem; /* Adjust spacing between cards */
    justify-content: center; /* Center cards horizontally */
    align-items: center; /* Align cards vertically */
    padding: 2rem; /* Add padding around the container */
  }
  
  @media (max-width: 768px) {
    .container {
      gap: 1rem; /* Reduce gap on smaller screens */
      padding: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      flex-direction: column; /* Stack cards vertically on very small screens */
      gap: 1rem;
    }
  }

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.Mega{
    margin-top: 5%;
}