@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

 .nav {
  width: 100%;
  height: 10%;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-link-item {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #b5b7ff;
  transition: 0.3s;
}

@font-face {
  font-family: "HarryP";
  src: url("../assets/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.nav-logo {
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  color: #c7c9ff;
  cursor: default;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav-links li {
  font-family: "Cinzel", serif;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
  cursor: pointer;
  color: #b5b7ff;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  transform-origin: center;
}

.nav-links li:hover {
  color: #ffffff;
  transform: scale(1.5);
}


/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}


.hamburger span {
  width: 24px;
  height: 2px;
  background: #b5b7ff;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    background: rgba(5, 5, 15, 0.95);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    background: rgba(5, 5, 15, 0.98);
    backdrop-filter: blur(10px);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
  }

  .nav-links.active {
    transform: translateX(0%);
  }

  .hamburger {
    display: flex;
  }
}
