html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sphere {
  position: fixed; /* IMPORTANT */
  height: 40px;
  width: 65px;

  background-image: url("./assets/Snitch.gif");
  background-size: cover;
  background-repeat: no-repeat;

  pointer-events: none; /* don't block clicks */
  z-index: 9999;

  transform: translate(-50%, -50%) scale(2);
  transition: transform 0.25s cubic-bezier(0, -0.02, 0.58, 1.33);
}
